@model IEnumerable<OrderHeader>
@{
    ViewData["Title"] = "Index";
}

<table id="mytable" class="table table-hover">
    <thead>
        <tr >
            <td>id</td>
            <td>Name</td>
            <td>Phone</td>
            <td>Email</td>
            <td>OrderStatus</td>
            <td>Total Price</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.ApplicationUser.Name</td>
                <td>@item.ApplicationUser.PhoneNumber</td>
                <td>@item.ApplicationUser.Email</td>
                <td>@item.OrderStatus</td>
                <td>@item.TotalPrice</td>
                <td><a asp-action="Details" asp-route-orderId="@item.Id" class="btn btn-primary">Details</a></td>
            </tr>
        }
    </tbody>
</table>
